
.bg-dark{
    background-color: rgb(56, 55, 55);
}

.text-white{
    color: whitesmoke;
}

.custom-image {
    padding: 10px;
    width: calc(100% - 20px );
}


.shopping-cart{
    position: fixed;
    right: 10px;
    top: 0px;
}